html
  head
    title Кассын програм

    link(rel='stylesheet', href='/static/css/income-form.css')

    script(src='/static/js/jquery.min.js')
    script(src='/static/js/number-divider.min.js')

  body
    div(id='income-create-container')
      h4 Кассын орлого

      form(method='post', id='income-form')
        ul
          each error in errors || []
            li= error.message

        div(class='field')
          label Баримтын дугаар:
          input(
            name='billNumber',
            value=doc.billNumber,
            disabled='disabled'
          )

        div(class='field')
          label Огноо:
          input(
            name='createdDate',
            disabled='disabled'
            value=doc.createdDate
          )

        div(class='field')
          label(class='required') Хэнээс:
          input(name='from', autofocus, autocomplete='off')

        div(class='field')
          div(class='group-code')
            label(class='required') Зориулалт:

            input(name='groupCode', autocomplete='off')
            span(class='last-income-info')= lastIncomeDtNames


        div(class='field')
          label(class='required') Хүлээн авагч:
          select(name='recipientId')
            each recipient in recipients
              option(value=recipient._id)= recipient.name

        p(class='total-amount-container')
          span Дүн: &nbsp;
          span(id='total-amount') 0

        div(class='table-container')
          table(cellspacing=0, id='records')
            thead
              tr
                th Б№
                th Хэнээс
                th З№
                th Зориулалт
                th Данс
                th Дүн
                th

            tbody

        div(class='btn-group pull-right')
          button(type='button', class='btn btn-default btn-xs dismiss') Хаах (F4)
          button(type='submit', class='btn btn-success btn-xs') Хадгалах (F7)

        div(class='clearfix')

      script(src='/static/js/incomeForm.bundle.js')
