extends ../layout.pug

block content
  h2(class='pull-left') Устгагдсан орлогууд
    small Бүх устгагдсан орлогуудыг эндээс харна

  button(type='button', id='print', class='btn btn-default pull-right') Хэвлэх

  div(class='clearfix')

  include search.pug

  div(class='table-responsive')
    table(class='table table-striped table-bordered')
      thead
        tr
          th Баримт №
          th Устгагдсан огноо
          th Устгагдсан шалтгаан
          th З №
          th Зориулалтын төрөл
          th Данс
          th Дүн
          th Ү.хэрэглэгч

      tbody
        each object in objects
          tr
            td= object.billNumber
            td= object.deletedDate.toLocaleDateString()
            td= object.deletedReason
            td= object.groupCode
            td= object.dedicationType.name
            td= object.accountNumber
            td= object.amount.toLocaleString()
            td= object.createdUser.shortName()

      tfooter
        tr
          td= 'Нийт (' + sumCount.toLocaleString() + ')'
          td
          td
          td
          td
          td
          td= sumAmount.toLocaleString()
          td



    div(id='pagination')

  script.
    const incomesCount = #{totalCount};

  script(src='/static/js/pagination.bundle.js')
  script(src='/static/js/incomeList.bundle.js')
