extends ../layout.pug

block content
  form(class='col-md-8', method='post')
    h2 Орлого устгах

    ul(class='error')
      each error in errors || []
        li= error.message
    h5(class='text-danger').
      Та `#{doc.createdDate.toLocaleDateString()}` өдрийн
      `#{doc.billNumber}` баримтын дугаартай
      `#{doc.accountNumber}` дансны дугаартай
      `#{doc.amount}` дүнтэй орлогыг устгах гэж байна.

    p(class='form-group')
      label Та яагаад устгах болсон шалтгаанаа бичинэ үү
      textarea(name='reason', class='form-control', required=true)

    div(class='btn-group')
      a(href='/', class='btn btn-default') Буцах
      button(type='submit', class='btn btn-danger') Устгах
