div(class='document-container')
  img(src='/static/images/logo_blue.png', class='header')

  div(id='sub-header')
    div(class='side')
      p
        label Огноо:
        span= mainIncome.createdDate.toLocaleDateString()

      p
        label Мөнгө тушаагч:
        b= mainIncome.from

    div(class='side')
      p
        label Хүлээн авагч банк:
        span ГОЛОМТ БАНК

      p
        label Хүлээн авагчийн нэр:
        span= accountHolder

    div(class='clear')

  table
    thead
      tr
        th(width='40') Баримт
        th Зориулалт
        th Дансны №
        th Мөнгөн дүн

    tbody
      each income in siblings
        tr
          td= income.billNumber
          td= income.dedicationType.name
          td= income.accountNumber
          td= income.amount.toLocaleString()

  div(id='total')
    label Нийт
    span= totalAmount.toLocaleString()
    span &nbsp;&nbsp;&nbsp;
    span= '(' + totalAmountInWords + ')'


  div(id='footer')
    label Харилцагч .....................................
    label= 'Теллер ..................................... / ' + mainIncome.createdUser.shortName() + ' /'
