div(class='document-container')
  div(id='header')
    img(src='/static/images/logo_blue.png')
    h1 Орлогын мэдүүлэг / Deposit slip
    div(class='clear')

  div(class='left')
    table
      tbody
        tr
          td Огноо / Date
          td= mainIncome.createdDate.toLocaleDateString()

        tr
          td Банкны нэр / Bank name
          td Голомт банк

        tr
          td Дансны дугаар / Account number
          td= mainIncome.accountNumber

        tr
          td Данс эзэмшигчийн нэр / Account holder
          td= mainIncome.accountHolder

        tr
          td Гүйлгээний дүн / Transaction amount
          td= mainIncome.amount.toLocaleString()

        tr(class='amount-in-words')
          td Мөнгөн дүн үсгээр / Amount in words
          td #{mainIncome.amountInWords}

        tr
          td Вальютын нэгж / Currency
          td Төгрөг

        tr
          td Гүйлгээний хураамж / Fee
          td

        tr(class='description')
          td Гүйлгээний утга / Description
          td

        tr(class='from')
          td Хэнээс / From
          td= mainIncome.from

        tr
          td Салбар / Branch
          td= department.name

        tr
          td Гүйлгээний дугаар / Transaction №
          td= mainIncome.billNumber

        tr
          td(class='signature', colspan=2)
            span.
              Хянасан / Reviewed .......................................
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            span.
              ХҮА / Teller .............................................

  div(class='right')
    table
      thead
        tr
          td Дэвсгэрт / Denomination
          td Тоо / Quantity
          td Дүн / Amount

      tbody
        tr
          td 1
          td
          td

        tr
          td 5
          td
          td

        tr
          td 10
          td
          td

        tr
          td 20
          td
          td

        tr
          td 50
          td
          td

        tr
          td 100
          td
          td

        tr
          td 500
          td
          td

        tr
          td 1.000
          td
          td

        tr
          td 5.000
          td
          td

        tr
          td 10.000
          td
          td

        tr
          td 20.000
          td
          td

        tr
          td Бүгд / Total
          td
          td

        tr
          td(colspan=3).
            Энэ баримтанд бичигдсэн мэдээллийн үнэн зөвийг хариуцаж гарын
            үсгээр баталгаажуулав / sign to confirm the accuracy of the
            information provided here

        tr
          td(class='signature', colspan=3)
            span Харилцагчийн гарын үсэг / Customer signature
            br
            br
            span.
              ........................................................
              ..........................
