html
  head
    title Golomt
    script(src='/static/js/jquery.min.js')
    link(rel='stylesheet', href='/static/css/print.css', media='print')

  body

  script.
    var incomeId = '#{incomeId}';
    var department = !{JSON.stringify(department)};
    var numberToDuplicate = department.documentCopies || 1;

    function loadCss(href) {
      var link = document.createElement('link');

      link.href = '/static/css/' + href;
      link.rel = 'stylesheet';
      link.type = 'text/css';

      (document.head||document.documentElement).appendChild(link);
    }

    function doFetch(url, callback) {
      fetch(url, { credentials: 'include' })
        .then((response) => response.text())

        .then((html) => {
          if (!html) {
            return callback();
          }

          $('body').html(html);

          $('body img').load(function () {
            window.print();
            callback();
          });
        })

        .catch((e) => { console.log(e); });
    }

    // Бөөнөөр нь хэвлэнэ гэсэн тохиргоо
    if (department.documentType === 1) {
      // load css
      loadCss('document.multi.css');

      var url = '/incomes/document/multi/' + incomeId;

      // Бөөнөөр нь хэвлэх дотроо зарим нэг гүйлгээнүүд нь тусдаа
      // баримтан дээр гарах шаардлага бас гардаг

      // Эхлээд тусдаа биш гэсэн тохиргоонуудтайнуудыг нь 1 дор хэвлэнэ.
      doFetch(url, () => {
        // Дараа нь тусдаа гэсэн тохиргоонуудтайнуудыг нь 1 дор хэвлэнэ.
        doFetch(url + '?separate=true', () => {
          window.close();
        })
      });
    }

    // Нэг баримтыг тухайн салбарын тохиргооны баримтын хувь талбар
    // тохируулсан утганы дагуу олон хувилах
    // documentType === 0 гэдэг нь Нэг нэгээр нь гэсэн утгатай
    if (department.documentType === 0) {
      loadCss('document.single.css');

      var url = '/incomes/document/single/' + incomeId;
      var printedCounts = 0;

      function executer() {
        doFetch(url, () => {
          printedCounts++;

          if (printedCounts === numberToDuplicate) {
            window.close();

          // print until to reach number to duplicate
          } else {
            executer();
          }
        })
      }

      executer();
    }
