extends ../layout.pug

block content
  h2(class='pull-left') Кассын орлогууд
    small Бүх кассын орлогуудын жагсаалт дундаас хайх устгах үйлдлүүдийг эндээс хийнэ

  div(class='btn-group pull-right')
    button(type='button', id='print', class='btn btn-default') Хэвлэх
    button(type='button', id='clear-search', class='btn btn-danger') Шинэчлэх

    if user.role === 'teller'
      a(href='/incomes/create', class='btn btn-success') Шинэ (F2)

  div(class='clearfix')

  include search.pug

  div(class='table-responsive')
    table(class='table table-striped table-bordered')
      thead
        tr
          th(width=100) Б №
          th Огноо
          th Хэнээс
          th Данс эзэмшигчийн нэр
          th З №
          th Зориулалт
          th Данс
          th Дүн
          th Б.Х тоо
          th Б.ажилтан
          th(width=20) Rec_ID
          th

      tbody
        each object in objects
          tr
            td= object.billNumber
            td= object.createdDate
            td= object.from
            td= object.accountHolder
            td= object.groupCode
            td= object.dedicationType ? object.dedicationType.name : ''
            td= object.accountNumber
            td= object.amount.toLocaleString()
            td= object.numberOfDocumentPrints
            td= object.createdUser.shortName()
            td= object.number

            td
              if user.role !== 'teller'
                if object.status === 1
                  a(class='action', href='/incomes/delete/' + object._id, class='delete')
                    span(class='glyphicon glyphicon-remove')

                a(class='action', target='__blank' href='/incomes/document/' + object._id + '?fromLink=true')
                  span(class='glyphicon glyphicon-list-alt')

        tfooter
          tr
            td= 'Нийт (' + sumCount.toLocaleString() + ')'
            td= 'Баримт (' + billNumberCount.toLocaleString() + ')'
            td
            td
            td
            td
            td
            td= sumAmount.toLocaleString()
            td
            td
            td
            td


    div(id='pagination')

  script.
    const incomesCount = #{totalCount};

  script(src='/static/js/pagination.bundle.js')
  script(src='/static/js/incomeList.bundle.js')
