html
  head
    title Golomt
    link(rel='stylesheet', href='/static/css/report.css')

  body
    div(id='report-container')
      div(id='header')
        img(src='/static/images/logo_blue.png')
        h3(class='text-center', id='title')= (status === '1' ? `КАССЫН ХУРААМЖИЙН ОРЛОГЫН` : 'УСТГАСАН') + ` ГҮЙЛГЭЭНИЙ ЖАГСААЛТ`

        div(class='printed-date')= `Хэвлэгдсэн огноо: `  + new Date().toLocaleDateString()
        div(class='clear')

      table
        thead
          tr
            th Баримт №
            th Дансны №
            th(width='90px;') Огноо
            th(width='200px') Хэнээс
            th З №
            th Зориулалт
            th Мөнгөн дүн
            th Б.ажилтан

        tbody
          each income in objects
            tr
              td= income.billNumber
              td= income.accountNumber
              td= income.createdDate
              td= income.from
              td= income.groupCode
              td= income.dedicationType.name
              td= income.amount.toLocaleString()
              td= income.createdUser.shortName()

        tfoot
          tr
            td(colspan=6)= 'Нийт (' + sumCount.toLocaleString() + ')'
            td= sumAmount.toLocaleString()
            td
            td


      div(id='footer-info')
        p= 'Тайлан гарсан .............................................................. /' + user.shortName + '/'
        p Баталгаажуулсан ......................................................... / ......................................../
