div(class='income-search col-lg-12')
  div(class='col-md-8 col-lg-8')
    span(class='title') Хайлт

    div(class='field')
      label Баримтын дугаар:
      input(type='number', name='billNumber', class='search')

    div(class='field')
      label Данс:
      input(name='accountNumber', class='search')

    div(class='field')
      label Хэнээс:
      input(name='from', class='search')

    div(class='field')
      label Зориулалтын дугаар:
      input(type='number', name='groupCode', class='search')

    div(class='field')
      label Дүн:
      input(type='number', name='amount', class='search')

    div(class='field')
      label Огноо:
      input(name='date', class='search')

    div(class='field')
      label Данс эзэмшигийн нэр:
      input(name='accountHolder', class='search')

    if user.role !== 'teller'
      div(class='field')
        label Үүсгэсэн:
        select(name='createdUserId', class='search')
          option(value='') Бүгд
          each user in users
            option(value=user._id)= user.shortName()

  div(class='col-md-4 col-lg-4')
    span(class='title') Эрэмбэ

    div(class='field')
      input(name='sort', type='radio', id='sort-billNumber')
      label(for='sort-billNumber') Баримт №

    div(class='field')
      input(name='sort', type='radio', id='sort-createdDate')
      label(for='sort-createdDate') Огноо

    div(class='field')
      input(name='sort', type='radio', id='sort-accountNumber')
      label(for='sort-accountNumber') Данс

    div(class='field')
      input(name='sort', type='radio', id='sort-from')
      label(for='sort-from') Хэнээс

    div(class='field')
      input(name='sort', type='radio', id='sort-amount')
      label(for='sort-amount') Дүн

    div(class='field')
      input(name='sort', type='radio', id='sort-numberOfDocumentPrints')
      label(for='sort-numberOfDocumentPrints') Баримт хэвлэсэн тоо

  div(class='clearfix')
div(class='clearfix')
