html
  head
    title Golomt
    link(rel='stylesheet', href='/static/css/report.css')

  body
    div(id='report-container')
      div(id='header')
        img(src='/static/images/logo_blue.png')
        h1(class='text-center', id='title') Өдрийн тайлан

        div(class='printed-date')= `Хэвлэгдсэн огноо: `  + date.toLocaleDateString()
        div(class='clear')

      table
        thead
          tr
            th Нэр
            th Бичилтийн тоо
            th Баримтын тоо

        tbody
          each item in response
            tr
              td= item.user.shortName()
              td= item.recordsCount.toLocaleString()
              td= item.recordsBillNumberCount.toLocaleString()

        tfoot
            tr
              td
              td= totalRecordsCount.toLocaleString()
              td= totalRecordsBillNumberCount.toLocaleString()
