extends ../layout.pug

block content
  div(class='col-sm-6')
    h2(class='pull-left') Салбарууд
      small Салбаруудын мэдээллүүдийг засах болон устгах үйлдлүүдийг эндээс хийнэ

    div(class='clearfix')

    form(method='post')
      include ../includes/errors.pug

      div(class='form-group')
        label(class='control-label required') Нэр
        input(name='name', class='form-control', value=doc.name)

      div(class='form-group')
        label(class='control-label') Хүлээн авагч:

        select(name='defaultRecipientId', class='form-control')
          each recipient in recipients
            if recipient._id.toString() === doc.defaultRecipientId.toString()
              option(value=recipient._id, selected='selected')= recipient.name
            else
              option(value=recipient._id)= recipient.name

      div(class='form-group')
        label(class='control-label') Баримтын төрөл:

        select(name='documentType', class='form-control')
          if doc.documentType === 0
            option(value=0, selected='selected') Нэгээр
            option(value=1) Бөөнөөр
          else
            option(value=0) Нэгээр
            option(value=1, selected='selected') Бөөнөөр

      div(class='form-group')
        label(class='control-label required') Баримт хэвлэх хувь:
        input(name='documentCopies', class='form-control', value=doc.documentCopies)

      div(class='btn-group')
        a(href='/departments', class='btn btn-default') Буцах
        button(type='submit', class='btn btn-success') Хадгалах
