extends ../layout.pug

block content
  div(class='table-responsive')
    h2(class='pull-left') Салбарууд
      small Салбаруудын мэдээллүүдийг засах болон устгах үйлдлүүдийг эндээс хийнэ

    a(href='/departments/create', class='btn btn-success pull-right') Шинэ

    div(class='clearfix')

    table(class='table table-striped table-bordered')
      thead
        tr
          th ID
          th Нэр
          th Хүлээн авагч
          th Баримтын төрөл
          th Баримтын хувь
          th

      tbody
        each object, index in objects
          tr
            td= index
            td= object.name
            td= object.defaultRecipient ? object.defaultRecipient.name : ''

            if object.documentType === 0
              td Нэгээр
            else
              td Бөөнөөр

            td= object.documentCopies

            td
              a(class='action', href='/departments/update/' + object._id)
                span(class='glyphicon glyphicon-edit')

              a(class='action', href='/departments/delete/' + object._id, class='delete')
                span(class='glyphicon glyphicon-remove')
