extends ../layout.pug

block content
  div(class='col-sm-6')
    h2 Хүлээн авагч
      small Хүлээн авагч засах болон устгах үйлдлүүдийг эндээс хийнэ

    form(method='post')
      include ../includes/errors.pug

      div(class='form-group')
        label(class='control-label required') Хэлтэс:
        select(name='departmentId', class='form-control')
          each department in departments
            if department._id.toString() === doc.departmentId ? doc.departmentId.toString() : ''
              option(value=department._id, selected='selected')= department.name
            else
              option(value=department._id)= department.name

      div(class='form-group')
        label(class='control-label required') Нэр:
        input(name='name', class='form-control', value=doc.name)

      div(class='form-group')
        label(class='control-label required') Код:
        input(name='code', class='form-control', value=doc.code)

      div(class='form-group')
        label(class='control-label') Лого:
        input(name='logo', class='form-control', value=doc.logo)

      div(class='checkbox')
        label(class='control-label')
          input(name='isActive', type='checkbox', checked=doc.isActive)
          span Идэвхтэй эсэх

      div(class='btn-group')
        a(href='/recipients', class='btn btn-default') Буцах
        button(type='submit', class='btn btn-success') Хадгалах
