extends ../layout.pug

block content
  div(class='table-responsive')
    h2(class='pull-left') Хүлээн авагчид
      small Хүлээн авагчидийг засах болон устгах үйлдлүүдийг эндээс хийнэ

    a(href='/recipients/create', class='btn btn-success pull-right') Шинэ

    div(class='clearfix')

    table(class='table table-striped table-bordered')
      thead
        tr
          th ID
          th Хэлтэс
          th Код
          th Нэр
          th Лого
          th Идэвхтэй эсэх
          th

      tbody
        each object, index in objects
          tr
            td= index
            td= object.department ? object.department.name : ''
            td= object.code
            td= object.name
            td= object.logo
            td= Boolean(object.isActive)

            td
              a(class='action', href='/recipients/update/' + object._id)
                span(class='glyphicon glyphicon-edit')

              a(class='action', href='/recipients/delete/' + object._id, class='delete')
                span(class='glyphicon glyphicon-remove')
