html
  head
    title Golomt

    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/login.css')

  body
    div(id='container')
      div(id='content')
        header(id='header')
          a(href='/')
            img(src='/static/images/logo.png')

        block content
