html
  head
    title Кассын програм

    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/app.css')
    link(rel='stylesheet', href='/static/css/pagination.css')
    link(rel='stylesheet', href='/static/css/bootstrap-datepicker.min.css')

    script(src='/static/js/jquery.min.js')
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/js/bootstrap-datepicker.min.js')
    script(src='/static/js/underscore.min.js')

  body
    div(id='container')
      - var messages = getMessages()
      if messages.notify
          each msg in messages
            div(class='alert alert-success alert-dismissable')
              a(href='#', class='close', data-dismiss='alert', aria-label='close') &times;
              strong= msg

      div(id='sidebar')
        header(id='header')
          a(href='/')
            img(src='/static/images/logo.png')

        div(class='gap')

        ul(class='main-menu')
          if user.role !== 'admin'
            li
              a(class='income', href='/incomes/create') Кассын орлого (F2)
                span(class='glyphicon glyphicon-random')
          li
            a(href='/') Орлогын жагсаалт
              span(class='glyphicon glyphicon-list')

            ul(class='sub-menu')
              li
                a(href='/') Энгийн

              li
                a(href='/incomes/deleted') Устгагдсан

              if user.role !== 'teller'
                li
                  a(href='#' class='daily-report') Тайлан

          li
            a(href='#') Тохиргоо
              span(class='glyphicon glyphicon-wrench')

            ul(class='sub-menu')
              if user.role == 'admin'
                li
                  a(href='/departments') Салбарууд

              if user.role !== 'teller'
                li
                  a(href='/recipients') Хүлээн авагчид

                li
                  a(href='/dedication-types') Зориулалтын төрлүүд

              li
                a(href='/accounts') Зориулалт, Данс

              if user.role == 'admin'
                li
                  a(href='/users') Эрхийн тохиргоо
                li
                  a(href='/role-descriptions') Эрхийн хийх үйлдэл
          li
            a Тухай
              span(class='glyphicon glyphicon-info-sign')

          li(class='logout')
            a(href='#') Гарах
              span(class='glyphicon glyphicon-off')

          li
            a= user.shortName
              span(class='glyphicon glyphicon-user')

      div(id='content')
        block content

    footer(id='footer') Copyright © 2017 Golomt bank

    script.
      $(document).keydown((e) => {
        // f2
        if(e.keyCode === 113) {
          location.href = $('a.income').attr('href');
        }
      });

      $('.logout').click(function () {
        if (confirm('Та гарахдаа итгэлтэй байна уу')) {
          location.href = '/logout';
        }
      });

      $('.daily-report').click(function () {
        window.open('/incomes/teller-report/?date=' + ($('input[name="date"]').val() || ''));
      });
