extends authLayout.pug

block content
  form(method='post')
    span(class='error')= error

    div(class='form-group')
      label(class='control-label') Хэрэглэгчийн нэр:
      input(name='username', class='form-control')

    div(class='form-group')
      label(class='control-label') Нууц үг:
      input(type='password', name='password', class='form-control')

    button(type='submit', class='btn btn-success') Нэвтрэх
