extends ../layout.pug

block content
  div(class='col-sm-6')
    h2 Зориулалтын төрөл
      small Зориулалтын төрүүдийг засах болон устгах үйлдлүүдийг эндээс хийнэ

    form(method='post')
      include ../includes/errors.pug

      div(class='form-group')
        label(class='control-label required') Нэр:
        input(name='name', class='form-control', value=doc.name)

      div(class='checkbox')
        label(class='control-label')
          input(name='isActive', type='checkbox', checked=doc.isActive)
          span Идэвхтэй эсэх

      div(class='btn-group')
        a(href='/dedication-types', class='btn btn-default') Буцах
        button(type='submit', class='btn btn-success') Хадгалах
