extends ../layout.pug

block content
  div(class='table-responsive')
    h2(class='pull-left') Зориулалтын төрлүүд
      small Зориулалтын төрүүдийг засах болон устгах үйлдлүүдийг эндээс хийнэ

    div(class='btn-group pull-right')
      a(href='/dedication-types/create', class='btn btn-success') Шинэ төрөл

    div(class='clearfix')

    table(class='table table-striped table-bordered')
      thead
        tr
          th ID
          th Нэр
          th Идэвхтэй эсэх
          th

      tbody
        each object, index in objects
          tr
            td= index
            td= object.name
            td= Boolean(object.isActive)

            td
              a(class='action', href='/dedication-types/update/' + object._id)
                span(class='glyphicon glyphicon-edit')

              a(class='action', href='/dedication-types/delete/' + object._id, class='delete')
                span(class='glyphicon glyphicon-remove')
