body, div {
  background-color: #dadada;
}

input, select, table {
  background-color: #fbfbfb !important;
}

table thead {
  background-color: #cccccc;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #d2d1d1;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e0e0e0 !important;
}

input:disabled {
  background-color: #eee;
}

body {
  font-size: 11px;
  line-height: 1.42857143;
  color: #5e5e5e;
}

.btn-success {
  background-color: #1062ac !important;
  border-color: #1062ac !important;
}

#header {
  background-color: #1062ac;
  padding: 40px 45px;
}

#header img {
  width: 200px;
}

a {
  color: #2196f3;
  text-decoration: none;
}

button, input, i, a {
  font-smoothing: antialiased;
  font-smoothing: grayscale;
}

.gap {
  height: 20px;
  background-color: #1062ac;
}

.main-menu {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 40px;
}

.main-menu a {
  color: #4c4c4c;
  text-decoration: none;
}

.main-menu > li {
  cursor: pointer;
}

.main-menu > li a:hover {
  background-color: #fff;
}

.main-menu > li > a {
  padding: 16px 25px 16px 75px;
  display: block;
  position: relative;
  font-weight: 700;
}

.main-menu > li > a > .glyphicon {
  position: absolute;
  left: 35px;
  font-size: 15px;
  top: 2px;
  text-align: center;
  padding: 13px 0;
}

.main-menu > a:before, .sub-menu > a:after {
  position: absolute;
  top: 14px;
  color: #9ba1b1;
  font-size: 17px;
  right: 25px;
  opacity: 0;
}

.main-menu .sub-menu {
  margin-left: 35px;
  list-style: none;
}

.main-menu .sub-menu li {
  padding: 5px 0px 5px 0px;
}

#sidebar {
  width: 20%;
  float: left;
}

#content {
  width: 80%;
  min-height: 1000px;
  float: right;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  border-radius: 2px;
  padding: 30px 33px
}

#footer {
  clear: both;
  text-align: center;
  width: 100%;
  color: #a2a2a2;
  padding-bottom: 20px;
  padding-top: 20px
}

.table-responsive {
  border: 0;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

.table-responsive .table {
  table-layout: inherit!important;
}

.table {
  margin-bottom: 0;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 11px;
}

.table > thead > tr > th {
  vertical-align: middle;
  font-weight: 500;
  color: #333;
  font-size: 12px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table > thead > tr > th:first-child, .table > tbody > tr > th:first-child, .table > tfoot > tr > th:first-child, .table > thead > tr > td:first-child, .table > tbody > tr > td:first-child, .table > tfoot > tr > td:first-child {
  padding-left: 30px;
}

.table-responsive .table td, .table-responsive .table th>.column-header-anchor>.text {
  overflow: inherit!important;
  -ms-text-overflow: inherit!important;
  -o-text-overflow: inherit!important;
  text-overflow: inherit!important;
  white-space: inherit!important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #f0f0f0;
}

.table-striped td, .table-striped th {
  border: 0 !important;
}

.table .action .glyphicon {
  margin-right: 10px;
}

a.delete {
  color: red;
}

h2 {
  margin: 0;
  padding: 0;
  color: black;
  line-height: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

h2 small {
  display: block;
  margin-top: 10px;
  line-height: 160%;
  font-size: 12px;
  color: #AEAEAE;
}


.income-search {
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.income-search .field {
  margin-bottom: 5px;
}

.income-search label {
  width: 40%;
}

.income-search input, .income-search select {
  display: inline;
  width: 60%;
}

.income-search input[type="radio"] {
  width: inherit;
  margin-right: 5px;
}

.income-search .title {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #1062ac;
  border-bottom: 1px solid #dadada;
}

.alert {
  z-index: 1;
  position: fixed;
  top: 50px;
  right: 40%;
}

.error {
  color: red;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  list-style: none;
}

.required::after {
  content: ' *';
  color: red;
}
