body,html{
  min-height:100%;
  -webkit-font-smoothing: antialiased !important;
}

html,body {
  font-family: Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  background: #f7f7f7;
  color: #1c578a;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.document-container {
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  padding:30px;
  margin-top:30px;
  margin-bottom:30px;
  border:1px solid #e6e6e6;
}

#header {
  border-bottom: 5px solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#header img {
  float: left;
}

#header h1 {
  float: right;
  text-transform: uppercase;
}

table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  font-size: 12px;
}

table, th, td {
  border: 1px solid;
  padding: 6px 5px 6px 5px;
}

.left {
  width: 69%;
  margin-right: 1%;
  float: left;
}

.right {
  width: 30%;
  float: left;
}

.left table tr td:first-child {
  width: 40%;
}

.signature {
  font-weight: bold;
}

tr.from {
  background-color: #fff3ef;
}

tr.from td, tr.amount-in-words td, tr.description td {
  padding: 24px 5px 23px 5px;
}

.left .signature {
  padding-top: 16px;
  padding-bottom: 15px;
}
