body,html{
  min-height:100%;
  -webkit-font-smoothing: antialiased !important;
}

html,body {
  font-family: Arial,sans-serif;
  font-size: 20px;
  line-height: 16px;
  background: #f7f7f7;
}

h1 {
  font-size: 1.5em;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.document-container {
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  padding:30px;
  margin-top:30px;
  margin-bottom:30px;
  color:#333;
  border:1px solid #e6e6e6;
}

.document-container table {
  background: #fff;
  border:1px solid #333;
  min-width: 100%;
  font-size: 20px;
}

.document-container table thead tr {
  border-bottom:1px solid #333;
  overflow: hidden;
  background: #f5f5f5;
}

.document-container table thead tr th {
  border-right:1px solid #333;
  padding:5px 10px;
  text-align: left;
}

.document-container table tr td {
  border-right:1px solid #333;
  border-top:1px solid #333;
  padding:10px;
}

.document-container table thead tr th:last-child,
.document-container table tr td:last-child {
  border-right:none;
}

.document-container .header {
  display: block;
  margin: 0 auto;
}

.document-container #sub-header {
  margin: 20px 0px 20px 0px;
}

.document-container #sub-header .side {
  width: 50%;
  float: left;
}

.document-container #sub-header .side p label {
  display: inline-block;
  width: 200px;
}

#footer {
  margin: 40px;
  text-align: center;
}

#footer label {
  margin-right: 150px;
}

#total {
  margin-top: 10px;
  float: right;
}

#total label {
  margin-right: 50px;
}
