body, div {
  background-color: #efeeee !important;
  color: #3c3939;
  font-size: 12px;
}

input:disabled {
  background-color: #eee;
}

#income-create-container {
  padding: 0px 10px;
}

.field {
  clear: both;
  margin-bottom: 5px;
}

label {
  float: left;
  width: 30%;
  color: #0178e6;
}

input, select {
  width: 70%;
}

.table-container {
  min-height: 80px;
  border: 1px solid #bbb5b5;
  margin-bottom: 5px;
}

table {
  font-size: 12px;
  width: 100%;
}

table tr td, table tr th {
  padding: 2px 4px;
  text-align: right;
  border: 1px solid #bbb5b5;
}

.total-amount-container {
  margin: 10px 0px 10px 0px;
  font-weight: 500;
  color: #0178e6;
  text-align: right;
}

.group-code {
  margin-top: 15px;
  margin-bottom: 15px;
}

.last-income-info {
  display: block;
  text-align: right;
  color: red;
}
