body {
  background-color: #dadada;
}

.btn-success {
  background-color: #1062ac !important;
  border-color: #1062ac !important;
}

#container {
  margin-top: 200px;
}

header {
  text-align: center;
  background-color: #1062ac;
  padding: 30px 60px 30px 60px;
}

#content {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

form {
  padding: 40px 80px 40px 80px;
  color: #888;
}

form button {
  width: 100%;
}

form .error {
  color: red;
  display: block;
}
