/* pagination */
.pagination-container
{
    padding: 6px 8px;
    overflow: hidden;
}
.pagination-container .per-page
{
    appearance: menulist;
    -webkit-appearance: menulist;
    background: #fff;
    width: 70px;
    margin-right: 30px;
    border: none;
    border-radius: 3px;
    height: 23px;
}
.pagination
{
    background-color: #eee;
    margin: 0;
    float: left;
}
.pagination > li > a,
.pagination > li > span
{
    border: none;
	padding: 3px 10px;
    margin: 0 2px;
	color: #666;
    border-radius: 3px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    background: #ddd;
    color: #666;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus
{
    color: #aaa;
    cursor: not-allowed;
    background: none;
    border: none;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
	background: #aaa;
    color: #fff;
}
.pagination > li > a.prev,
.pagination > li > a.next
{
    background-color: #eee;
    padding: 3px 10px;
}
