html, body {
  height: 95%;
  margin: 0 0 0 0;
}

@page {
  margin: 0mm !important;
  margin-top: 0mm !important;
  padding: 0mm !important;
  background-color: red !important;
}

.page {
  background-color: white !important;
}

.no-print {
  display: none !important;
}


.document-container {
  margin: 0mm !important;
  padding-top: 0mm !important;
  padding-bottom: 0mm !important;
  padding-left: 10mm !important;
  border: none !important;
  background-color: white !important;
}

table tr td {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

table { page-break-after:auto; }
table tr { page-break-inside:avoid; page-break-after:auto }
table tr td { page-break-inside:avoid; page-break-after:auto }
