body,html{
  -webkit-font-smoothing: antialiased !important;
}

html,body {
  font-family: Arial,sans-serif;
  font-size: 14px;
  line-height: 16px;
  background: #f7f7f7;
}

h1 {
  font-size: 1.5em;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

#report-container {
  background: #fff;
  width: 1000px;
  margin: 0 auto;
  position:relative;
  overflow:hidden;
  padding:30px;
  margin-top:30px;
  margin-bottom:30px;
  color:#333;
  border:1px solid #e6e6e6;
  padding-bottom: 0px;
}

@media print {
  #report-container {
    border: none;
  }
}

#report-container table {
  min-width: 100%;
  font-size: 15px;
}

#report-container table thead tr th {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

#report-container table tfoot tr:last-child td {
  border-top: 1px solid;
}

#header {
  margin-bottom: 50px;
}

#header img {
  width: 20%;
  margin-top: 10px;
  float: left;
}

#header #title {
  width: 65%;
  float: left;
}

#footer-info {
  text-align: center;
}

.printed-date {
  position: absolute;
  right: 30px;
  top: 40px;
  color: gray;
  font-weight: bold;
}
