extends ../layout.pug

block content
  form(class='col-md-8', method='post')
    ul
      each error in errors || []
        li= error.message

    h2 Зориулалт, данс устгах
    p Та `#{doc.accountNumber}` дансны дугаартай зориулалт дансдын харгалзааг устгах гэж байна.
    p Та итгэлтэй байна уу ?

    div(class='btn-group')
      a(href='/accounts', class='btn btn-default') Буцах
      button(type='submit', class='btn btn-danger') Устгах
