extends ../layout.pug

block content
  div(class='col-sm-6')
    h2 Зориулалт, данс
      small Зориулалт болон данснуудын харгалзааг энд тохируулна.

    form(method='post')
      include ../includes/errors.pug

      div(class='form-group')
        label(class='control-label required') Зориулалтын код:
        input(name='groupCode', class='form-control', value=doc.groupCode)

      div(class='form-group')
        label(class='control-label required') Дансны дугаар:
        input(name='accountNumber', class='form-control', value=doc.accountNumber)

      div(class='form-group')
        label(class='control-label') Данс эзэмшигчийн нэр:
        input(name='accountHolder', class='form-control', value=doc.accountHolder)

      div(class='form-group')
        label(class='control-label required') Зориулалтын төрөл:
        select(name='dedicationTypeId', class='form-control')
          each type in dedicationTypes
            if type._id.toString() === doc.dedicationTypeId.toString()
              option(value=type._id, selected='selected')= type.name
            else
              option(value=type._id)= type.name

      if user.role === 'admin'
        div(class='form-group')
          label(class='control-label required') Хэлтэс:
          select(name='departmentId', class='form-control')
            each department in departments
              if department._id.toString() === doc.departmentId.toString()
                option(value=department._id, selected='selected')= department.name
              else
                option(value=department._id)= department.name

      div(class='form-group')
        label(class='control-label required') Дүн:
        input(name='amount', class='form-control', value=doc.amount)

      div(class='checkbox')
        label(class='control-label')
          input(
            name='printSeparateDocument',
            type='checkbox',
            checked=doc.printSeparateDocument
          )

          span Тусдаа баримт хэвлэх эсэх

      div(class='btn-group')
        a(href='/accounts', class='btn btn-default') Буцах
        button(type='submit', class='btn btn-success') Хадгалах
