extends ../layout.pug

block content
  div(class='table-responsive')
    h2(class='pull-left') Зориулалт, данс
      small Зориулалт болон данснуудын харгалзааг энд тохируулна.

    div(class='btn-group pull-right')
      a(href='/accounts/create', class='btn btn-success') Шинэ

    div(class='clearfix')

    table(class='table table-striped table-bordered')
      thead
        tr
          th Салбар
          th Зориулалтын төрөл
          th З №
          th Дансны дугаар
          th Данс эзэмшигч
          th Дүн
          th Тусдаа баримт хэвлэх эсэх
          th

      tbody
        each object, index in objects
          tr
            td= object.department.name
            td= object.dedicationType.name
            td= object.groupCode
            td= object.accountNumber
            td= object.accountHolder
            td= object.amount.toLocaleString()
            td= Boolean(object.printSeparateDocument)

            if user.role !== 'teller'
              td
                a(class='action', href='/accounts/update/' + object._id)
                  span(class='glyphicon glyphicon-edit')

                a(class='action', href='/accounts/delete/' + object._id, class='delete')
                  span(class='glyphicon glyphicon-remove')
