extends ../layout.pug

block content
  div(class='col-sm-6')
    h2 Хэрэглэгч үүсгэх
      small Шинэ хэрэглэгч үүсгэх үйлдлийг эндээс хийнэ

    form(method='post')
      include ../includes/errors.pug

      div(class='form-group')
        label(class='control-label required') Хэрэглэгчийн нэр:
        input(name='sAMAccountName', class='form-control', value=doc.sAMAccountName)

      div(class='form-group')
        label(class='control-label') Овог:
        input(name='lastName', class='form-control', value=doc.lastName)

      div(class='form-group')
        label(class='control-label') Нэр:
        input(name='firstName', class='form-control', value=doc.firstName)

      div(class='form-group')
        label(class='control-label required') Хэлтэс:

        select(name='departmentId', class='form-control')
          each department in departments
            if department._id.toString() === doc.departmentId.toString()
              option(value=department._id, selected='selected')= department.name
            else
              option(value=department._id)= department.name

      div(class='form-group')
        label(class='control-label required') Эрх:

        select(class='form-control', name='role')
          if doc.role === "admin"
            option(value='admin', selected) Админ
          else
            option(value='admin') Админ

          if doc.role === "supervisor"
            option(value='supervisor', selected) Ахлах
          else
            option(value='supervisor') Ахлах

          if doc.role === "teller"
            option(value='teller', selected) Теллер
          else
            option(value='teller') Теллер

          if doc.role === "inactive"
            option(value='inactive', selected) Идэвхгүй
          else
            option(value='inactive') Идэвхгүй

      div(class='btn-group')
        a(href='/users', class='btn btn-default') Буцах
        button(type='submit', class='btn btn-success') Хадгалах
