extends ../layout.pug

block content
  div(class='table-responsive')
    h2(class='pull-left') Эрх тохируулах
      small Шинээр хэрэглэгч үүсгэх болон хэрэглэгчидийн эрхийн тохиргоонуудыг энд хийнэ

    div(class='btn-group pull-right')
      a(href='/users/create', class='btn btn-primary') Шинэ

    div(class='clearfix')

    form(method='post')
      table(class='table table-striped table-bordered')
        thead
          tr
            th Овог
            th Нэр
            th Хэрэглэгчийн нэр
            th Хэлтэс
            th Эрх
            th
        tbody
          each object in objects
            tr
              td= object.lastName
              td= object.firstName
              td= object.sAMAccountName
              td= object.department.name

              td
                if object.role === "admin"
                  span Админ

                if object.role === "supervisor"
                  span Ахлах

                if object.role === "teller"
                  span Теллер

                if object.role === "inactive"
                  span Идэвхгүй

              td
                a(class='action', href='/users/update/' + object._id)
                  span(class='glyphicon glyphicon-edit')

                a(class='action', href='/users/delete/' + object._id, class='delete')
                  span(class='glyphicon glyphicon-remove')
