extends ../layout.pug

block content
  div(class='table-responsive')
    h2(class='pull-left') Эрхийн хийж чадах үйлдлүүд
      small Эрхийн хийж чадах үйлдлүүд

    div(class='clearfix')

    table(class='table table-striped table-bordered')
      thead
        tr
          th Үйлдэл
          th Админ эрх
          th Ахлахын эрх
          th Теллер эрх
      tbody
        tr
          td Орлогын гүйлгээ нэмэх
          td
          td
          td &#9989;

        tr
          td Орлогын гүйлгээ устгах
          td
          td &#9989;
          td

        tr
          td Орлогын гүйлгээг дахин хэвлэх
          td &#9989;
          td &#9989;
          td

        tr
          td Устгасан гүйлгээг харах
          td &#9989;
          td &#9989;
          td &#9989;

        tr
          td Салбаруудын бүртгэл
          td &#9989;
          td
          td

        tr
          td Хүлээн авагч нэмэх, засах, утсгах
          td &#9989;
          td &#9989;
          td

        tr
          td Зориулалт данс харах
          td
          td
          td &#9989;

        tr
          td Зориулалтын төрлүүд нэмэх, засах, утсгах
          td &#9989;
          td &#9989;
          td

        tr
          td Зориулалт, Данс нэмэх, засах устгах
          td &#9989;
          td &#9989;
          td

        tr
          td Эрхийн тохиргоо нэмэх,  устгах
          td &#9989;
          td
          td

        tr
          td Тайлангууд
          td &#9989;
          td &#9989;
          td Зөвхөн өөрийн оруулсан  мэдээллийг харах
